{% extends 'blog/wrapper.html' %}

{% block content %}
    <div>
    	<p>{{ post.author }} 
    		<a href="{% url 'post_edit' pk=post.pk %}">РЕДАКТИРОВАТЬ ПОСТ</a><br>
    		<a href="{% url 'post_delete' pk=post.pk %}">УДАЛИТЬ ПОСТ</a>
    	</p>
    	<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    	<p>{{ post.text }}</p>
        <p>Дата создания: {{ post.created_date }}</p>
        <hr>
        
    </div>
{% endblock %}