{% extends "blog/wrapper.html" %}

{%block content%}
	
	<h2>BLABLABLA</h2>
	{% for post in posts %}
    <div>
    	<p>{{ post.author }}</p>
    	<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    	<p>{{ post.text }}</p>
        <p>Дата создания: {{ post.created_date }}</p>
        <hr>
        
    </div>
	{% endfor %}

{%endblock%}