<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Блог</title>
</head>
<body>
	{%block content%}
	{%endblock%}
	<hr>
	<a href="{% url 'post_new' %}">ДОБАВИТЬ ПОСТ</a>
</body>
</html>